Repository GogaKler/famsy, pull requests merged in 2025-01, with the labels that each got.

#10 Feature/init-playwright
  e2e/.github/workflows/playwright.yml
  e2e/.gitignore
  e2e/package-lock.json
  e2e/package.json
  e2e/pages/base-page.ts
  e2e/pages/login-page.ts
  e2e/playwright.config.ts
Labels: ✨ feature

#5 Feature/logout
  frontend/src/entities/auth/api/auth-api.ts
  frontend/src/entities/auth/service/auth-service.ts
  frontend/src/pages/main/UI/MainPage.vue
Labels: ✨ feature, 🎨 frontend

#14 Hotfix/13-incorrect-layout
  frontend/src/pages/auth/login/LoginPage.vue
Labels: 🐞 bug, 🎨 frontend
