Repository GogaKler/famsy, pull requests merged in 2025-02, with the labels that each got.

#26 Feature/25-global-infrastructure
  Makefile
  backend/.run/FamsyApplication.run.xml
  backend/Dockerfile
  backend/docker-compose.yml
  frontend/docker/development/Dockerfile
  frontend/docker/development/docker-compose.yml
  frontend/docker/production/Dockerfile
  frontend/package.json
  postgres/docker-compose.yml
Labels: ✨ feature

#19 Hotfix/18-jwt-access-do-not-refreshed
  backend/src/main/java/ru/famsy/backend/modules/jwt/JwtTokenService.java
Labels: 🐞 bug, 🔧 backend

#29 Feature/9-first-level-menu-global-header
  frontend/src/pages/main/UI/MainPage.vue
  frontend/src/shared/plugins/fontawesome/index.ts
  frontend/src/widgets/header/HeaderLayout.vue
  frontend/src/widgets/header/index.ts
  frontend/tsconfig.app.json
  frontend/vite.config.ts
Labels: ✨ feature, 🎨 frontend

#17 Feature/16-second-level-menu-local-tabs
  backend/src/main/resources/application.yaml
  frontend/.gitignore
  frontend/src/app/guard/auth-guard.ts
  frontend/src/app/layouts/RootLayout.vue
  frontend/src/app/router/index.ts
  frontend/src/entities/header-tabs/index.ts
  frontend/src/entities/header-tabs/model/tab-item.ts
  frontend/src/entities/header-tabs/model/tab-list.ts
  frontend/src/main.ts
  frontend/src/pages/auth/login/LoginForm.vue
  frontend/src/pages/dashboard/index.ts
  frontend/src/pages/dashboard/ui/DashboardPage.vue
  frontend/src/pages/index.ts
  frontend/src/pages/main/UI/MainPage.vue
  frontend/src/pages/main/index.ts
  frontend/src/pages/profile/index.ts
  frontend/src/pages/profile/ui/ProfileDetailPage.vue
  frontend/src/pages/profile/ui/ProfileEditPage.vue
  frontend/src/shared/plugins/fontawesome/index.ts
  frontend/src/widgets/header-tabs/HeaderTabs.vue
  frontend/src/widgets/header-tabs/index.ts
  frontend/src/widgets/header/HeaderLayout.vue
  frontend/src/widgets/header/HeaderRoot.vue
  frontend/src/widgets/header/index.ts
  frontend/tsconfig.app.json
Labels: ✨ feature, 🎨 frontend

#27 feat(LoginTest): creare first e2e test
  Makefile
  e2e/.env
  e2e/eslint.config.mjs
  e2e/package-lock.json
  e2e/package.json
  e2e/pages/base-page.ts
  e2e/pages/dashboard-page.ts
  e2e/pages/login-page.ts
  e2e/playwright.config.ts
  e2e/tests/auth-tests.spec.ts
  frontend/src/pages/auth/login/LoginForm.vue
Labels: ✨ feature, 🔍 qa

#35 feat: global sidebar
  frontend/src/shared/plugins/fontawesome/index.ts
  frontend/src/widgets/header/HeaderRoot.vue
  frontend/src/widgets/sidebar/SidebarRoot.vue
  frontend/src/widgets/sidebar/index.ts
Labels: ✨ feature, 🎨 frontend

#42 Feature/36-database-seeding
  backend/.run/FamsyApplication.run.xml
  backend/.run/backend migrate.run.xml
  backend/docker-compose.yml
  backend/src/main/resources/application.yaml
  backend/src/main/resources/db/changelog/changes/V202412261830_rename_and_add_audit_columns.yaml
  backend/src/main/resources/db/changelog/changes/V202501081531_create_users_table.yaml
  backend/src/main/resources/db/changelog/changes/V202501081533_create_user_sessions_table.yaml
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
  backend/src/main/resources/db/changelog/seeds/V202501080145_seed_user_famsy.yaml
  backend/src/main/resources/liquibase.yaml
Labels: ✨ feature, 🔧 backend

#38 Hotfix/32-long-time-to-start-make-dev-all
  Makefile
Labels: 🐞 bug

#43 Feature/23-user-avatar-field
  Makefile
  backend/pom.xml
  backend/src/main/java/ru/famsy/backend/common/config/MinioConfig.java
  backend/src/main/java/ru/famsy/backend/common/dto/BaseDTO.java
  backend/src/main/java/ru/famsy/backend/common/exception/GlobalExceptionHandler.java
  backend/src/main/java/ru/famsy/backend/common/exception/base/MinioException.java
  backend/src/main/java/ru/famsy/backend/common/validator/FileValidationRules.java
  backend/src/main/java/ru/famsy/backend/common/validator/FileValidator.java
  backend/src/main/java/ru/famsy/backend/common/validator/exception/FileValidationException.java
  backend/src/main/java/ru/famsy/backend/modules/account/AccountController.java
  backend/src/main/java/ru/famsy/backend/modules/auth/AuthController.java
  backend/src/main/java/ru/famsy/backend/modules/files/MinioFileStorageService.java
  backend/src/main/java/ru/famsy/backend/modules/files/dto/FileUploadResponseDTO.java
  backend/src/main/java/ru/famsy/backend/modules/user/UserEntity.java
  backend/src/main/java/ru/famsy/backend/modules/user/UserService.java
  backend/src/main/java/ru/famsy/backend/modules/user/dto/UserDTO.java
  backend/src/main/resources/application.yaml
  backend/src/main/resources/db/changelog/changes/V202501081919_add_user_avatar.yaml
  backend/src/main/resources/db/changelog/changes/V202501082255_add_user_avatar_file_name.yaml
  minio/docker-compose.yml
Labels: ✨ feature, 🔧 backend

#37 Feature/31-ui-framework-primevue
  frontend/formkit.config.ts
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/layouts/AuthLayout.vue
  frontend/src/main.ts
  frontend/src/pages/auth/index.ts
  frontend/src/pages/auth/login/LoginForm.vue
  frontend/src/pages/auth/login/LoginPage.vue
  frontend/src/pages/auth/register/RegisterForm.vue
  frontend/src/pages/auth/register/RegisterPage.vue
  frontend/src/pages/dashboard/ui/DashboardPage.vue
  frontend/src/shared/plugins/fontawesome/index.ts
  frontend/src/shared/plugins/index.ts
  frontend/src/shared/plugins/primevue/index.ts
  frontend/src/shared/ui/components/button/FamsyButton.vue
  frontend/src/shared/ui/components/button/famsy-button-types.ts
  frontend/src/shared/ui/composables/useTheme.ts
  frontend/src/shared/ui/index.ts
  frontend/src/shared/ui/semantic/_colors.scss
  frontend/src/shared/ui/styles/_globals.scss
  frontend/src/shared/ui/styles/_reset.scss
  frontend/src/shared/ui/styles/index.scss
  frontend/src/shared/ui/themes/_base.scss
  frontend/src/shared/ui/themes/_dark.scss
  frontend/src/shared/ui/themes/_light.scss
  frontend/src/shared/ui/tokens/_colors.scss
  frontend/src/widgets/header-tabs/HeaderTabs.vue
  frontend/src/widgets/header/HeaderLayout.vue
  frontend/src/widgets/header/HeaderRoot.vue
  frontend/tailwind.config.ts
Labels: ✨ feature, 🎨 frontend

#39 Feature/28-frontend-ssr
  frontend/.nvmrc
  frontend/docker/development/docker-compose.yml
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/server/entry-client.ts
  frontend/server/entry-server.ts
  frontend/server/server.ts
  frontend/src/main.ts
  frontend/tsconfig.app.json
  frontend/vite.config.ts
Labels: ✨ feature, 🎨 frontend

#48 Hotfix/47-jwt-cannot-refresh-token-after-expired-access-token
  backend/src/main/java/ru/famsy/backend/modules/jwt/JwtFilter.java
  backend/src/main/resources/application.yaml
Labels: 🐞 bug, 🔧 backend

#51 #50 - fix: update pnpm and docker
  frontend/.dockerignore
  frontend/.gitignore
  frontend/docker/development/Dockerfile
  frontend/docker/development/docker-compose.yml
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/shared/lib/hooks/useSocket/index.ts
  frontend/src/shared/lib/index.ts
Labels: 🐞 bug, 🎨 frontend

#52 Feature/linux backend
  backend/Dockerfile
  backend/docker-compose.yml
Labels: 🐞 bug, 🔧 backend

#46 #24 - feat: user sidebar component
  frontend/src/entities/auth/service/auth-service.ts
  frontend/src/entities/auth/store/auth-store.ts
  frontend/src/entities/user/entity/user-entity.ts
  frontend/src/entities/user/index.ts
  frontend/src/entities/user/ui/user-avatar/UserAvatar.vue
  frontend/src/entities/user/ui/user-sidebar/UserSidebar.vue
  frontend/src/pages/auth/login/LoginForm.vue
  frontend/src/shared/plugins/fontawesome/index.ts
  frontend/src/shared/plugins/primevue/index.ts
  frontend/src/widgets/header/HeaderRoot.vue
  frontend/src/widgets/sidebar/NavigationSidebar.vue
  frontend/src/widgets/sidebar/SidebarRoot.vue
  frontend/src/widgets/sidebar/constants.ts
  frontend/src/widgets/sidebar/index.ts
Labels: ✨ feature, 🎨 frontend

#58 33-incorrect-button-styles
  frontend/src/app/layouts/AuthLayout.vue
  frontend/src/pages/auth/login/LoginPage.vue
  frontend/src/pages/auth/register/RegisterPage.vue
Labels: 🐞 bug, 🎨 frontend

#60 fix: update docker files sping boot
  backend/Dockerfile
  backend/docker-compose.yml
Labels: 🐞 bug, 🔧 backend

#61 #57 - feature/57-model-space
  backend/pom.xml
  backend/src/main/java/ru/famsy/backend/common/dto/BaseDTO.java
  backend/src/main/java/ru/famsy/backend/modules/account/AccountController.java
  backend/src/main/java/ru/famsy/backend/modules/auth/AuthController.java
  backend/src/main/java/ru/famsy/backend/modules/auth/AuthService.java
  backend/src/main/java/ru/famsy/backend/modules/space/SpaceController.java
  backend/src/main/java/ru/famsy/backend/modules/space/SpaceEntity.java
  backend/src/main/java/ru/famsy/backend/modules/space/SpaceRepository.java
  backend/src/main/java/ru/famsy/backend/modules/space/SpaceService.java
  backend/src/main/java/ru/famsy/backend/modules/space/constants/SpaceStatus.java
  backend/src/main/java/ru/famsy/backend/modules/space/constants/SpaceType.java
  backend/src/main/java/ru/famsy/backend/modules/space/dto/SpaceCreateDTO.java
  backend/src/main/java/ru/famsy/backend/modules/space/dto/SpaceDTO.java
  backend/src/main/java/ru/famsy/backend/modules/space/dto/SpaceUpdateDTO.java
  backend/src/main/java/ru/famsy/backend/modules/space/exception/SpaceForbiddenException.java
  backend/src/main/java/ru/famsy/backend/modules/space/mapper/SpaceMapper.java
  backend/src/main/java/ru/famsy/backend/modules/space_member/SpaceMemberEntity.java
  backend/src/main/java/ru/famsy/backend/modules/space_member/constants/SpaceMemberRole.java
  backend/src/main/java/ru/famsy/backend/modules/space_member/constants/SpaceMemberStatus.java
  backend/src/main/java/ru/famsy/backend/modules/space_member/dto/SpaceMemberDTO.java
  backend/src/main/java/ru/famsy/backend/modules/space_member/dto/SpaceMemberNestedDTO.java
  backend/src/main/java/ru/famsy/backend/modules/space_member/mapper/SpaceMemberMapper.java
  backend/src/main/java/ru/famsy/backend/modules/user/UserController.java
  backend/src/main/java/ru/famsy/backend/modules/user/UserEntity.java
  backend/src/main/java/ru/famsy/backend/modules/user/UserService.java
  backend/src/main/java/ru/famsy/backend/modules/user/dto/UserCreateDTO.java
  backend/src/main/java/ru/famsy/backend/modules/user/dto/UserDTO.java
  backend/src/main/java/ru/famsy/backend/modules/user/mapper/UserMapper.java
  backend/src/main/java/ru/famsy/backend/modules/user_session/UserSessionController.java
  backend/src/main/java/ru/famsy/backend/modules/user_session/UserSessionEntity.java
  backend/src/main/java/ru/famsy/backend/modules/user_session/dto/UserSessionDTO.java
  backend/src/main/resources/db/changelog/changes/V202502161741_create_space_table.yaml
  backend/src/main/resources/db/changelog/changes/V202502161742_create_space_member_table.yaml
  backend/src/main/resources/db/changelog/seeds/V202502190217_seed_spaces.yaml
  backend/src/main/resources/db/changelog/seeds/V202502190221_seed_space_members.yaml
  backend/src/test/java/ru/famsy/backend/common/utils/TestDataFactory.java
  frontend/docker/development/docker-compose.yml
  frontend/package.json
Labels: ✨ feature, 🔧 backend
